
.container {
    display: flex;
    padding-left: 8%;
    align-items: end;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-top: 6%;
    
}

.textContainer {
    flex: 1;
    padding-right: 10px;
    
}

.imgContainer {
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    margin-left: 8%;
    
}

.extraContent {
    flex: 1; /* Ocupa a mesma largura que textContainer e imgContainer */
    margin-top: 20px; /* Ajuste conforme necessário para o espaçamento desejado */
}

.foto {
    width: 100%;
    height: auto;
    display: block;
}


.criative {
    padding-left: 6%;
    padding-top: 10%;
    font-size: 10em;
    font-weight: 500;
    color: var(--color-two-text);
    letter-spacing: 24px;
}

.interior {
    padding-left: 6%;
    line-height: 80px;    
    font-size: 10em;
    font-weight: 500;
    color: var(--color-one-text);
    letter-spacing: 24px;
}

.additionalContent {
    /* Estilize conforme necessário para a linha adicional */
    font-size: 1.5em;
    color: #333;
}