
.menu {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    margin-right: 6px;
    text-decoration: none;
    color: var(--color-one-text);
}

.menu:hover {
    color: var(--color-two-text);
}

