
.menu {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    margin-right: 66px;
    text-decoration: none;
    color: var(--color-one-text);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;   
    margin-top: -28px; 
}

