:root {
  max-width: 96%;
  margin: auto;
  font-size: 20px;
  font-family: 'Inter', sans-serif;

  --back-color-one: #ffffff;
  --bak-color-two: #212025;
  --color-one-text: #515151;
  --color-two-text: #8c8c8c;
  --color-two: #efefef; 
  --color-three: #f6f6f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
